* {
    box-sizing: border-box
}

body {
    margin: 0 auto;
    background: #725b41 url(https://www.spirituosenworld.de/out/swg/img/backgrounds/swg-back-2018.jpg) repeat-y center top;
    background-size: contain;
    background-attachment: fixed;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.navi {
    align-content: center;
    background-color: lightyellow;
}

li {
    display: inline-block;
    padding: 8px;
    font-weight: 700;
    font-size: 25px;
}

.banner {
    margin-top: -20px;
    width: 100%;
    height: 600px;

}

.row1 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: -85px;
    padding-top: 50px;
    background-color: white;
}

div h1 {
    margin: 0 0;
    margin-bottom: 40px;
    text-align: center;
}

.row1>div {
    width: 200px;
    text-align: center;
    align-self: center;
    border-right: 1px solid black
}

.row1>div>img {
    width: 150px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 2px 5px 2px gainsboro;
    background-color: lightyellow;

}

.row1>div>button {
    width: 150px;
    height: 30px;
    border-radius: 50%;
    background-color: red;

}

.row2 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: -85px;
    padding-top: 50px;
    background-color: white;
}

.row2>div {
    width: 200px;
    text-align: center;
    align-self: center;
    border-right: 1px solid black
}

.row2>div>img {
    width: 150px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 2px 5px 2px gainsboro;
    background-color: lightyellow;

}

.row2>div>button {
    width: 150px;
    height: 30px;
    border-radius: 50%;
    background-color: red;

}